#posts-index img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}

#root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#root {
  background-color: lavender;
}