#posts-index img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}

#root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#root {
  background-color: lavender;
  /* background-image: url(https://garden.spoonflower.com/c/14332879/p/f/m/PEPUbz4gWsPMublQjiRtjcKA1BMjXLPN-BDnW3dBxaMunh-bPOJ4/Kikko%20Hanabishi%20Go%20Size%20M%20Coral%20Mimosa%20Yellow%20Light%20Teal%20Blush%20Pink%20on%20Sage.jpg); */
}